<form #form="ngForm">
  {{ detail | json }}
  <div>ID: <input type="number" name="id" [ngModel]="detail?.id"></div>
  <div>Name: <input type="text" name="fullname" [ngModel]="detail?.fullname"></div>
  <div>

    <label><input name="checkedIn"
                  type="checkbox"
                  [ngModel]="detail?.checkedIn"
                  (ngModelChange)="checkInChange($event)"> Check in</label>
    <div *ngIf="form.value.checkedIn">
      Check in date: <input type="number" name="checkInDate" [ngModel]="detail.checkInDate">
    </div>
  </div>
  {{ form.value | json }}
</form>
